<div id="logo" class="vertical-container-login brand-bg" >
  <div class="espresso-logo-block-login brand-bg" id="logo_block">
    <img src="./assets/img/expresso-logo.png" class="white-logo-login">
  </div>
  <div class="vert-center login-center">
    <p class="login-title" id="login_title">Espresso Insights</p>
    <div class="login-block" id="forgot_block" *ngIf="initial">
      <div id="email_error" class="error"  *ngIf="message != ''">{{message}}</div>
      <input id="mail_field" type="email" name="email" class="input-control" placeholder="Email Id" [(ngModel)]="email" required >
      <button id="recover_btn" type="button" class="btn login-btn" [disabled]="!email" (click)="recoverpassword()">Send Code</button>
    </div>
    <div class="forgetpass" id="forgetpass">
      <p class="forgetpass-text" id="login-txt" *ngIf="initial"><span [routerLink]="['/login']">Login with Password</span></p>
      <p id="success" *ngIf="show">A link has been sent to your email address</p>
      <p id="failure" *ngIf="multiple">Multiple Email Configured.Please contact admin for support</p>
      <button class="btn login-btn" id="back_btn" [routerLink]="['/login']" *ngIf="!initial">Back to Login</button>
    </div>
  </div>
</div>
<loading-message [showLoading]="showLoading" [loadingMessage]="loadingMessage"></loading-message>