<div class="vertical-container-login brand-bg" >
  <div class="espresso-logo-block-login brand-bg" id="logo_block">
    <img src="./assets/img/expresso-logo.png" class="white-logo-login">
  </div>
  <div class="vert-center login-center">
    <p class="login-title" id="page_title">Espresso Insights</p>
    <div class="session-text">
      <h3 id="session_inactive_txt">You have another session logged in from another device. Only one active session is allowed.  <a id="session_inactive_btn" [routerLink]="['/login']"><b>Click here</b></a> to login again.</h3>
    </div>
  </div>
</div>