<div class="vertical-container-login brand-bg" id="logo_block">
  <div class="espresso-logo-block-login brand-bg">
    <img src="./assets/img/expresso-logo.png" class="white-logo-login">
  </div>
  <div class="vert-center login-center">
    <p class="login-title" id="login_title">Espresso Insights</p>

    <div [ngClass]="custom_css">
      <div *ngIf="initial" class="login-block">
          <div class="error" id="forgot_error" *ngIf="message != ''">{{message}}</div>

          <form type="post" name="" class="login-form" id="password_form" #passForm="ngForm">
            <input id="new_pass" (keyup)="onKey($event)" type="password" name="newpassword" class="input-control" placeholder="New Password" [(ngModel)]="passcode.password" required #newpassword="ngModel" maxlength="30">
            <input id="confirm_pass" type="password" name="confirmpassword" class="input-control" placeholder="Confirm Password" [(ngModel)]="passcode.reenter_password" required #confirmpassword="ngModel" maxlength="30">

            <button id='pass_btn' type="submit" class="btn login-btn" [disabled]="!passForm.form.valid" (click)="changepassword()">Change Password</button>
            <button id='pass_btn1' type="submit" class="btn login-btn change-password-back-btn" *ngIf="!is_password_reset_enabled" (click)="changepassword_back()">Back</button>

          </form>
      </div>
      <div *ngIf="show" class="session-text">
          <h3 id="error_text">Your password link has expired. <a [routerLink]="['/forgotpassword']" id="error_btn"><b>Try again</b></a></h3>
      </div>
    </div>
    <div *ngIf="initial" class="right-block" >
      <div class="progress_block">
        <div class="progressbar_block">
          <ng2-password-strength-bar
                  [passwordToCheck]="passcode.password"
                  [barLabel]="barLabel"
                  [barColors]="myColors">
          </ng2-password-strength-bar>
        </div>
      </div>
      <div class="progress-hint-block">
        <div class="progress-hint-title">Password must be contains following below:</div>
          <div ngClass="{{lengthbool.isit}}">
            <span *ngIf="lengthbool.isit"><i class="fa fa-check-circle policy-success"></i></span>
            <span *ngIf="!lengthbool.isit"><i class="fa fa-times-circle policy-failure"></i></span>
            <span>{{pwd_strong_message}}</span>
          </div>
          <div ngClass="{{nucbool.isit}}">
            <span *ngIf="nucbool.isit"><i class="fa fa-check-circle policy-success"></i></span>
            <span *ngIf="!nucbool.isit"><i class="fa fa-times-circle policy-failure"></i></span>
            <span>Password must contain at least 1 upper character.</span>
          </div>
          <div ngClass="{{nlcbool.isit}}">
            <span *ngIf="nlcbool.isit"><i class="fa fa-check-circle policy-success"></i></span>
            <span *ngIf="!nlcbool.isit"><i class="fa fa-times-circle policy-failure"></i></span>
            <span>Password must contain at least 1 lower character.</span>
          </div>
          <div ngClass="{{numbool.isit}}">
            <span *ngIf="numbool.isit"><i class="fa fa-check-circle policy-success"></i></span>
            <span *ngIf="!numbool.isit"><i class="fa fa-times-circle policy-failure"></i></span>
            <span>Password must contain at least 1 number.</span>
          </div>
          <div ngClass="{{symbool.isit}}">
            <span *ngIf="symbool.isit"><i class="fa fa-check-circle policy-success"></i></span>
            <span *ngIf="!symbool.isit"><i class="fa fa-times-circle policy-failure"></i></span>
            <span>Password must contain at least 1 special character.</span>

          </div>
      </div>
    </div>
  </div>

</div>
<loading-message [showLoading]="showLoading" [loadingMessage]="loadingMessage"></loading-message>