.error {
    color: #fb0404;
    background-color: #fff;
    margin-bottom: 9px;
    padding: 9px;
    border-radius: 5px;
    font-size: 13px;
    border: 0.5px solid red;
}

.progress_bar{
    width: 0;
    height: 20px;
    padding: 0;
    margin-top: 10px;
}
.true {
    color: #dddddd;
    padding-left:20px;
    font-style: italic;
}
.false {
    color: #ffffff;
    padding-left:20px;
}

.progress_block{
    color: #fff;
    font-size: 14px;
    width: 75%;
    margin-top: 7%;
    position: absolute;
}

.progress-hint-block{
    padding: 10px 0px 0px 0px;
    margin-top:10%;
}

.progress-status{
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    font-style: italic;
    position: absolute;
    padding: 4px;
}

.progress-hint-title{
    font-size:14px;
    color:#ffffff;
}

.left-block{
    width: 50%;
}

.right-block{
    width: 40%;
    /* border: #fff solid 1px; */
    position: absolute;
    float: right;
    right: 0px;
    top: 35%;
    padding: 0px;
    font-style: oblique;
}
